.homeimg{
    background: url(/static/img/home.jpg) no-repeat ;
    margin:5px auto;
}

.arwnext{
    border:none;
    font-size:none;
    font-family:inherit;
    border-radius:2px;
    height: 28px;
    width: 35px;
}
.arwnext:hover{
    height: 30px;
    color:#C2E0FF;
}
.foota{
    position: fixed;
    bottom:0px;
    left: 15px;
    
}
.main-unit{
    padding: 60px;
    margin-bottom: 30px;
    height: 80px;
    padding: 50px 50px 50px 50px;
    background-color: #eeeeee;
    color: rgba(255,255,255,1);
    background: url(/static/img/smartreportmain.png) repeat;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}
.main-unit p{
    
}
.main-unit h1{
    font-size: 70px;
    margin: 30px auto auto 180px;
    float: left;
    font-weight: bolder;
    font-variant: small-caps;
    
}

