*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


*.db*.pyc
*.pyo
*.html~
*.css~


#for pdfs
._*.pdf

#for gedit
*~
~*


#the local sqlite database
*.db
*.sqlite

#for dir

smsreportcard/django/
smsreportcard/registration/
smsreportcard/SMS Project in Python/
smsreportcard/project_files/
smsreportcard/phonenumber_field/
smsreportcard/SMS-sdk/
smsreportcard/grappelli/
smsreportcard/basic_admin/
smsreportcard/dj_simple_sms/
smsreportcard/smsreportcard/assets/img/
