*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


*.db*.pyc
*.pyo
*.html~
*.css~


#for pdfs
._*.pdf

#for gedit
*~
~*


#the local sqlite database
*.db
*.sqlite

#for dir

django/
registration/
SMS Project in Python/
project_files/
phonenumber_field/
SMS-sdk/
grappelli/
basic_admin/
dj_simple_sms/
smsreportcard/assets/
smsreportcard/templates/
grappelli/
