{% extends 'home/main.html'%}
{%block title%}<title>Send Messsage </title> {% endblock %}
{% block mainblock %}
<div class="span9">
    <div class="hero-unit">
        <div class="row-fluid">
           
           <div class="span4 msgcentermenu">
                Send Bulk Email To All Students
                <h6><a href="/msgs//">here</a></h6>
            </div>
         <a href="/msgs/sendsmstoallstudent/">
         <div class="span4 msgcentermenu">
                Send Bulk SMS To All Student
                <h6><a href="/msgs/sendsmstoallstudent/">here</a></h6>
            </div></a>
        </div>
        <hr/>
        <div class="row-fluid">
           <div class="span4 msgcentermenu">
                Send Bulk Email 
                <h6><a href="/msgs/sendbulkemail/">here</a></h6>
            </div>
         <div class="span4 msgcentermenu">
                Send Bulk SMS
                <h6><a href="/msgs/sendbulksms/">here</a></h6>
            </div>
        </div>
        <hr/>
        <div class="row-fluid">
            <div class="span4 msgcentermenu">
                Send Email To Student Parent
                <h6><a href="/report/allstudent/">here</a></h6>
            </div>
         <div class="span4 msgcentermenu">
                Send SMS To Student Parent
                <h6><a href="/report/allstudent/">here</a></h6>
            </div>
        </div>
    </div>
    
</div>



{% endblock%}