{% extends 'home/main.html'%}
{% block extrahead%}
    <style type="text/css">
    .progress-info{
        margin-left:200px;
        margin-bottom: 2px;
        width: 250px;
        height: 24px;
        background-color:inherit;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        -webkit-transition: all 0 linear 1s,opacity 1s;
        padding 2px;
        font-size: 11px;
        /*opacity: 0;*/
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        background-color: #d6e9f8;
        border-color: #4d90f0;
        color: #333;
        z-index: 1000;
        
    }
    </style>
    
{% endblock%}
{% block mainblock%}
    <div class="span9">
        <div class="hero-unit">
            <div class="row-fluid" id="sarts-row">
                <div class="progress-info" id="progress-info-sarts"></div>
            </div>
            <div class="row-fluid">
                <div class="span7">
                   <h3> All The {{term}} Term Reports of Students Below Will be Sent To Their Respective Parents</h3>
                </div>
                <div class="span2">
                    
                </div>
            </div>
            <hr>
            <div class="row-fluid">
                <div class="span3">
                    <h6>Report Number</h6>
                </div>
                <div class="span4" style="margin-left: 34px;">
                    <h6>Student</h6>
                </div>
                <div class="span1">
                    <h6>Course</h6>
                </div>
            </div>
            <hr>
            <div class="row-fluid">
            {%for report in reports %}
                <div class="span3" style="margin-left: 10px">
                    {{forloop.counter}}
                </div>
                <div class="span4">
                    {{report.student_name}}
                </div>
                <div class="span3">
                    {{report.course}}
                </div>
                   
            {% endfor %}
                
            </div>
            <hr>
            <div class="row-fluid"  id="sarts-btn" >
                <button class="btn-warning" id="sarts-btn"  onclick="start_sarts('http://localhost:8000/msgs/sendallreports');">proceed</button>
            </div>
            
        </div>
    </div>

{% endblock %}