{% extends 'home/main.html'%}
{%block title%}<title>Send Messsage </title> {% endblock %}
{% block mainblock %}
<div class="span9">
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span4">
                Send Email To Student Parent
                <h6><a href="/report/allstudent/">here</a></h6>
            </div>
         <div class="span4">
                Send SMS To Student Parent
                <h6><a href="/report/allstudent/">here</a></h6>
            </div>
        </div>
    </div>
    
</div>



{% endblock%}