{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/login.css" />{% endblock %}
{% block extrahead %}<!--<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">-->{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div class = "register" id="content-main">
<h1>Register</h1>
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input style="margin-left: 320px;" type="submit" value="Submit" />
        </p>
        </form>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}

{%comment%}
<html>
    <head>
        <title>Register</title>
        <style type="text/css">
            th {
                text-align: right;
                padding-right: 10px;
            }
        </style>

    </head>
    <body>
        <h2>Register</h2>
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input style="margin-left: 320px;" type="submit" value="Submit" />
        </p>
        </form>
    </body>
</html>
{% endcomment %}
