{%extends "charts/base.html"%}
{% block extrahead %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Subject', 'Passed', 'Failed'],
          ['Core Maths.',  {{pdata1}},      {{fdata1}}],
          ['English',  {{pdata2}},      {{fdata2}}],
          ['Intergrated Sci.',  {{pdata3}},       {{fdata3}}],
          ['Social Stud.',  {{pdata4}},      {{fdata4}}],
          ['{{elect0}}',  {{pdata5}},      {{fdata5}}],
          ['{{elect1}}',  {{pdata6}},      {{fdata6}}],
          ['{{elect2}}',  {{pdata7}},      {{fdata7}}],
          ['{{elect3}}',  {{pdata8}},      {{fdata8}}],
        ]);

        var options = {
          title: 'Student performance in class {{klass}}',
          vAxis: {title: 'Subjects',  titleTextStyle: {color: 'red'}},
          width:750,height:400,
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  {% endblock %}
{% block charts %}
<div id="chart_div" class="chart_div" style="width:900; height:600"></div>

{% endblock %}