
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smart Report| {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico"  sizes="128x128" />

    <!--styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/smartrepo.css" rel="stylesheet">
    

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .containa{
        width: 900px;
        margin: 10px auto;
        padding: 30px;
        background-color: rgba(0,0,0,0.2);
      }
      
      .chart-container{
	margin: 10px auto;
	padding:5px;
	width:700px;
	height: 600px;
	background-color: rgba(0,0,0,0);
	padding: 5px;
      }
      .chart_div{
	margin: 20px 20px 20px 50px;
      }
    </style>
    {% block extrahead %}
    
    {% endblock %}
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
  </head>

  <body onload="">
     <!-- <script src="http://code.jquery.com/jquery.js"></script> -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" style="background: url(/static/img/smartreportmain.png) repeat;">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Smart Rport</a>
          <div class="nav-collapse collapse">
			
            <div class="navbar-text pull-right">
			{% if user.is_staff %}

              Enter <a href="{% url admin:index %}" class="navbar-link">ADMIN page</a>

			{% endif %}
			{% if user.is_authenticated %}
			<a href="/accounts/logout/?next=/kab234/" class="navbar-link" style="color: red">Logout</a>
			{% endif %}
			{% if not user.is_authenticated %}
			<a href="/accounts/login/?next=/kab234/" class="navbar-link">Login as User </a> | <a href="/admin" class="navbar-link">Login as Admin</a>
			{% endif %}
            </div>
            <ul class="nav">
              <li class="active"><a href="/kab234/">Home</a></li>
              <li><a href="#about">Reports</a></li>
	      <li class="dropdown">
                <a href="/charts/base/" class="dropdown-toggle" data-toggle="dropdown">Chats <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/charts/CSAS/">CSAC</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">By Class</li>
		  {% for class in classes %}
                  <li><a href="/charts/POC/?class={{class.name}}">{{class.name}}</a></li>
		  {%endfor%}
                </ul>
	      
            </ul>
          </div><!--/.nav-collapse -->
	  
        </div>
      </div>
    </div>
    <div class="containa">
      <p style="display: inline;text-align: center;font-size: 20px;margin-left: 270px;">{{title}}</p>
    </div>
    <div class="chart-container" id="chart-container">
      {%block charts%}
      
      {% endblock %}
    </div>

    <footer class="foota">
        <h6>&copy;Smart Report 2013</h6>
    </footer>
    
         <script src="/static/js/smartrepo.js"></script>
    <script src="/static/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/static/bootstrap/js/backbone.js"></script>
    <script src="/static/bootstrap/js/underscore-min.js"></script>
  </body>
</html>

