{% extends "home/main.html"%}

{% block extrahead%}
<link rel="stylesheet" href="/static/bootstrap/css/report.css" type="text/css" media="screen" charset="utf-8"/>


{% endblock %}


{% block mainblock %}
<div class="span9">
<div class="hero-unit">
<label style="margin-left:18cm">{{time}} </label>
<form action="." method= post>

<hr>

<table>
<tr>
	<td>   </td>
	<td placeholder= "Student Name">{{rform.student_name}}</td>
</tr>
<tr>
	<td >{{rform.form.label_tag}} </td>
 	<td>{{rform.form}} </td>
</tr>
<tr>
	<td class="padding">{{rform.course.label_tag}} </td>
 	<td>{{rform.course}} </td>
</tr>
<tr>
	<td class="padding">{{rform.teacher.label_tag}}</td> 
	<td>{{rform.teacher}} </td>
</tr>
</table>
<hr>
<tr><th></th><td><span>Subject<span></td><td><span>Examination Marks<span></td><td><span style ="margin-left:85px">Class Test Marks</span></td><td><span style ="margin-left:70px">Percentage</span></td><td><span style ="margin-left:85px">Grade</td></tr><br>

{% for form in rcform %}

{{form.subject}}{{form.exam_mark}}{{form.test_mark}}{{form.percentage}}{{form.grade}} 
<br>
{% endfor %}
<hr>
<p> {{rform.remark.label_tag}} <span> {{rform.remark}}

<div>
<p>{{remark.remark.label_tag}}<span>{{remark.remark}}</span></p>
</div>
<hr>


<!--<input type = "submit" name = "add"  value = "add report"> -->
	<button class="btn btn-primary" type="submit" style="margin-left: 18cm">ADD REPORT</button>

</form>
<!-- end of form -->

</div>
<!-- end of hero-unit -->
</div>

<!-- end of span9 -->	

{% endblock %}
