{% extends 'home/main.html'%}

{% block title%}<title>ARW</title>{% endblock %}

{% block mainblock %}
<div class="span9">
    <div class="hero-unit" style="">
        <div class="row-fluid">
            <strong>ADD REPORT WIZZARD</strong>
            <br />
            <hr>
                <br />
                <br />
                <br />
            {%ifequal  status "No" %}
             <div class="row-fluid">
                <div class="span1">
                </div>
                <div class="span3"><!--begin add report blk -->
                Add class Reports
                <h6><a href="/report/arw/stage1/">here</a></h6>
                </div><!-- end -->
                <div class="span3"><!--begin edit report blk -->
                Edit A class Reports
                <h6><a href="" style="color: pink">here</a></h6>
                </div><!-- end -->
                <div class="span3"><!--begin delete report blk -->
                Delete A Report
                <h6><a href="" style="color: red">here</a></h6>
                </div><!-- end -->
            </div><!--end rwo-fluid-->
            {%endifequal %}
            {%ifequal  status "stage1" %}
            <div class="row-fluid">
                <div class="span3" style="margin-top:4px">
                   
                    <b>Please Select Your Class</b>
                </div>
                <form method='get' action="/report/arw/stage2/">
                <div class="span2">
                    
                    {{form.classes}}
                </div>
                <div class="span2">
                    <script type="text/javascript">
                    </script>
                </div>
                <div class="span2" style="margin-top:none" >
                    <strong id="nextlink" style="color: rgba(0,0,255,0.1)">next</strong>
                    <!--<input type=submit value="next" />-->
                </div>
                </form>
                
            </div><!--end rwo-fluid-->
        {%endifequal%}

        
        {% ifequal status "stage2"%}
        <div class="row-fluid">
                <div class="span3" style="margin-top:4px">
                    
                    <b>Please Select Subject</b>
                </div>
                <form method='get' action="/report/arw/stage3/">
                <div class="span2">
                    {{form.clas}}
                    
                    {{form.subjects}}
                </div>
                <div class="span2">
                    <script type="text/javascript">
                    </script>
                </div>
                <div class="span2" style="margin-top:none" >
                    <strong id="nextlink" style="color: rgba(0,0,255,0.1)">next</strong>
                    <!--<input type=submit value="next" />-->
                </div>
                </form>
                
            </div><!--end rwo-fluid-->
            {%endifequal%}
            {% ifequal status "stage3"%}
                <div class="row-fluid">
                    <div class="span3">
                        <div class=row-fluid">
                            <div class="span2">
                                <h6>ID</h6>
                            </div>
                            <div class="span6">
                                <h6>Student Name</h6>
                          
                            </div>
                                    
                        </div>
                      
                    </div>
                    <div id="id" class="span8">
                        <div class="row-fluid">
                            <div class="span3">
                               <h6>Examination Score</h6>
                            </div>
                            <div class="span3">
                                <h6>Class Test Score</h6>
                            </div>
                        </div>
                     
                    </div>
                </div>            
                <hr>
                <form action="" method="post" >
                    {% for student , form in studentrc.items %}
                        <div class="row-fluid">
                            <div class="span3">
                                <div class=row-fluid">
                                    <div class="span2">
                                       {{student.id_number}} 
                                    </div>
                                    <div class="span3">
                                        {{student.first_name}}
                                    </div>
                                    <div class="span2"">
                                        {{student.last_name}}
                                    </div>
                                    
                                </div>
                            
                            </div>
                            <div id="id" class="span8">
                                <div class="row-fluid">
                                    <div class="span3">
                                        {{form.exam_mark}}
                                    </div>
                                    <div class="span3">
                                        {{form.test_mark}}
                                    </div>
                                </div>
                     
                            </div>
                        </div>
                
                    {%endfor%}
                    
            </form>
        
            {%endifequal%}
        
     
            <br />
            <br />
            <hr>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
    </div>
</div>
{% endblock %}
