{% extends 'home/main.html'%}

{% block title%}<title>ARW</title>{% endblock %}

{% block mainblock %}
<div class="span9">
    <div class="hero-unit" style="">
        <div class="row-fluid">
            <strong>ADD REPORT WIZZARD</strong>
            <br />
            <hr>
                <br />
                <br />
                <br />
             <div class="row-fluid">
                <div class="span1">
                </div>
                <div class="span3"><!--begin add report blk -->
                Add class Reports
                <h6><a href="/report/arw/?stage=stageone">here</a></h6>
                </div><!-- end -->
                <div class="span3"><!--begin edit report blk -->
                Edit A class Reports
                <h6><a href="" style="color: pink">here</a></h6>
                </div><!-- end -->
                <div class="span3"><!--begin delete report blk -->
                Delete A Report
                <h6><a href="" style="color: red">here</a></h6>
                </div><!-- end -->
            </div><!--end rwo-fluid-->
        </div>
    </div>
    
{% endblock %}