<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SHS Report</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
<link rel="stylesheet" href="/static/bootstrap/css/report.css" type="text/css" media="screen" charset="utf-8"/>
<style type="text/css"> 
.center{
{% block extrastyle %}
.center{
margin-top:9cm;
}
{% endblock %}
</style>
</head>

<body>
	{% block main %}
	{% endblock %}
</body>
</html>
